
/*
https://coolors.co/

Lavender Web #E5EAFA
Laurel Green #C6CCB2


Air Superiority Blue #80A1C1
Bone #C6CCB2
Champagne #EEE3AB
Softer Red #C32F27
Red #FF1B1C

Isabelline #F5EFED
Blue Sapphire #0B4F6C
Smoky Black #0F0A0A
Cadmium Orange #F28F3B
Venetian Red #BF211E

Charcoal #353A47

*/

html, body {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    background: #F5EFED;
    background: #fff;
    color: #0F0A0A;
    color: #484848;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5 {
    margin: 1rem 0 1.5rem 0;
    color: #505050;
    font-family: 'Montserrat';
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    line-height: 1.125;
    text-align: center;
}

.btn-primary {
    text-transform: uppercase;
    background: #353A47;
    border-color: #353A47;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #353A47;
}

.wordmark {
    margin: 0 0 0 0;
    line-height: 1;
    font-size: 2rem;
}

.wordmark a {
    color: #fff;
    font-family: 'Slabo';
    text-transform: uppercase;
}

.wordmark a:hover {
    text-decoration: none;
}

.wordmark > a > span {
    font-size: 3.75rem;
}

.nav-link {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #fff;
}

.btn {
    font-size: 1rem;
}

.block {
    margin: 2.5rem 0;
}

.box {
    border: 1px solid #E5EAFA;
}

.form-control {
    border-color: #E5EAFA;
}

.form-group {
    text-align: left;
}

.content {
    padding: 0.75rem;
    max-width: 1180px;
}

#footer {
    max-width: 1180px;
}

.navbar {
    justify-content: flex-end;
    margin-top: 1.25rem;
}

.sidebar {
    color: #fff;
    background: #C32F27;
    padding: 1.25rem 0.5rem;
}

.sidebar .navbar {
    padding: 0;
}

.copyright {
    font-size: 0.875rem;
    text-transform: uppercase;
    padding: 0 0.5rem;
}

.contact-form {
    padding: 1rem 0.5rem;
    width: 100%;
}

.contact-form h2 {
    font-weight: 400;
}

.directions {
    width: 100%;
    max-width: 500px;
}

.directions iframe {
    height: 100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #353A47;
}

.product-pricing {
    background: #353A47;
    color: #fff;
    padding: 1rem;
}

.product-pricing h3 {
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

.product-pricing .prices {
    text-align: left;
    margin: 0;
    padding: 0;
}

.product-pricing span {
    margin-left: 1.5rem;
}

.product {
    margin-top: 0;
}

.product-content {
    margin-top: 2.5rem;
}

.product-content > .d-flex {
    flex-direction: column-reverse;
}

.footnote {
    margin-left: 1rem;
}

.product-images {
    max-width: 100%;
}

.prices {
    list-style-type: none;
    padding-left: 0;
    padding: 0.25rem 0;
}

.prices li {
    padding: 0.25rem 0;
}

.prices span {
    float: right;
}

.gallery {
    position: relative;
}

.table-center td,
.table-center thead th {
    text-align: center;
}

.table-light.table-bordered td,
.table-light.table-bordered thead th {
    border-color: #E5EAFA;
}

.table-bordered td,
.table-bordered thead th {
    border-color: #353A47;
}

.table-bordered thead th {
    background: #353A47;
    color: #fff;
    font-size: 0.875rem;
}

.faq {
    margin: 2rem 0;
}

h2 +.faq {
    margin-top: 0;
}

.faq-question,
.faq-answer {
    display: flex;
    align-items: baseline;
    line-height: 1.2;
}

.faq-question {
    margin: 0.5rem 0;
}

.faq-question:before {
    content: 'Q: ';
    font-family: 'Roboto Slab';
    font-size: 1.15rem;
    margin-right: 4px;
}

.faq-answer {
    margin: 0.25rem 0;
}

.faq-answer:before {
    content: 'A: ';
    font-family: 'Roboto Slab';
    font-size: 1.175rem;
    font-weight: 400;
    margin-right: 4px;
}

.slick-prev {
    left: 15px;
    z-index: 99;
}

.slick-next:before,
.slick-prev:before {
    color: rgba(15,10,10,0.75);
    font-size: 2.5rem;
}

.slick-next {
    right: 25px;
    z-index: 99;
}

.dog-silhouette {
    display: none;
}

#feeding-chart > .d-flex {
    flex-direction: column;
}

#feeding-chart > .d-flex table {
    margin-bottom: 1.5rem;
    font-size: 16px;
}

#feeding-chart > .d-flex table:last-child {
    margin-bottom: 1rem;
}

#contact {
    flex-direction: column;
}

#contact .directions iframe {
    min-height: 500px;
    width: 100%;
}

.mobile-break {
    display: block;
}

@media screen and (min-width: 540px) {
    .mobile-break {
        display: inline;
    }
}

@media screen and (min-width: 767px) {
    body {
        padding-left: 230px;
        text-align: left;
        font-size: 20px;
    }

    .content {
        padding: 40px 20px 20px 20px;
    }

    .sidebar {
        color: #fff;
        background: #C32F27;
        padding: 1.25rem 0.5rem;
        position: fixed;
        left: 0;
        height: 100%;
        width: 230px;
    }

    .mobile-break {
        display: block;
    }

    .dog-silhouette {
        position: absolute;
        bottom: 20px;
        left: 32.5%;
    }

    .product-pricing .underline {
        display: block;
    }

    .product-content > .d-flex {
        flex-direction: row;
    }

    .product-content .prices {
        margin-top: 0;
    }

    #feeding-chart > .d-flex {
        flex-direction: row;
    }

    #feeding-chart > .d-flex table {
        margin-bottom: 0.5rem;
    }

    #feeding-chart > .d-flex table:first-child {
        margin-right: 0.75rem;
    }

    .dog-silhouette {
        display: block;
    }

    .dog-silhouette-mobile {
        display: none;
    }

    .product {
        margin-top: 0rem;
    }

    .product h2 {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

    .wordmark {
        font-size: 1.375rem;
    }

    .wordmark span {
        font-size: 2.375rem;
    }

    .sidebar {
        width: 230px;
    }

    .sidebar .nav {
        margin: 3rem 0.5rem;
    }

    .product-content > .d-flex {
        flex-direction: column;
    }

    .product-content > .d-flex .product-pricing {
        order: 1;
    }

    #feeding-chart > .d-flex table:last-child {
        margin-bottom: 0;
    }

    #feeding-chart .footnote {
        margin-top: -8px;
    }
}

@media screen and (min-width: 895px) {
    h2 {
        font-size: 2.5rem;
    }

    .product-images {
        width: 100%;
    }

    .product-images img {
        width: 100%;
    }

    .directions {
        max-width: 100%;
    }

    .sidebar .nav {
        margin-left: 1.25rem;
    }
}

@media screen and (min-width: 942px) {
    .mobile-break {
        display: inline;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1220px) {
    body{
        padding-left: 300px;
    }

    .sidebar {
        width: 300px;
    }

    #contact {
        flex-direction: row;
    }

    .product-pricing .prices {
        columns: 1;
    }

    .product-content > .d-flex {
        flex-direction: row;
    }

    .contact-form {
        padding: 1.5rem;
    }

    .content {
        padding: 40px 30px 20px 40px;
    }
}